@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <title>My Plan</title>
    <style>
    </style>
    @*<link rel="stylesheet" type="text/css" href="../Content/css.css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" /><!--时间选择控件-->
    <link href="~/Content/prettify-1.0.css" rel="stylesheet" /><!--时间选择控件-->
    <style type="text/css">
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #e6e6e6;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            border-radius: 3px;
            background-color: #e6e6e6;
        }

        ::-webkit-scrollbar-thumb {
            height: 20px;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ccc;
        }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #9c3;
            }

            ::-webkit-scrollbar-thumb:active {
                background-color: #00aff0;
            }
    </style>
    <script src="http://wgeo.weather.com.cn/ip/?_=1476241656585" type="text/javascript"></script>
    <script src="~/Scripts/require.js" data-main="../Scripts/main"></script>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">T</a>
            </div>
            <div class="form-group">
                <!--向左对齐-->
                <div class="navbar-form navbar-left" role="search">
                    <label class="checkbox-inline">
                        <input type="radio" name="showModel" id="day" value="day" checked> 日
                    </label>
                    @*<label class="checkbox-inline">
                            <input type="radio" name="showModel" id="day" value="day"> 周
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="showModel" id="day" value="day"> 月&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>*@
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id="startTime" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class=' input-group date' id='datetimepicker11'>
                        <input type='text' id="endTime" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <button type="submit" id="reloadData" class="btn btn-default">确定</button>

                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            操作
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="addPlan" href="#">Add Plan</a></li>
                            <li class="divider"></li>
                            <li><a id="DailyAdd" href="#">Add Daily</a></li>
                            <li><a id="DailyList" href="#">Daily List</a></li>
                            @*<li class="divider"></li>
                                <li><a id="AddWeekly" href="#">Add Weekly</a></li>
                                <li><a id="WeeklyList" href="#">Weekly List</a></li>*@
                            <li class="divider"></li>
                            <li><a id="NoteAdd" href="#">Add Note</a></li>
                            <li><a id="NoteList" href="#">Note List</a></li>
                            <li class="divider"></li>
                            <li><a id="KeyData" href="../KeyCount/Index" target="_blank">Key Data</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-form navbar-left" role="search">
                    <label class="checkbox-inline">
                        <button type="button" id="addDailySummary" class="btn btn-default">每日总结</button>
                    </label>
                    <label class="checkbox-inline">
                        <button id="lastNote" type="button" class="btn btn-primary"
                                title="" data-container="body"
                                data-toggle="popover" data-placement="bottom" data-trigger="click"
                                data-content="右侧的 Popover 中的一些内容 —— toggle 方法">
                            Note
                        </button>
                    </label>
                    <label class="checkbox-inline">
                        <button id="leetCode" type="button" class="btn btn-primary"
                                title="" data-container="body"
                                data-toggle="popover" data-placement="bottom" data-trigger="click"
                                data-content="右侧的 Popover 中的一些内容 —— toggle 方法">
                            LeetCode
                        </button>
                    </label>
                </div>
                <!--向右对齐-->
                <form class="navbar-form navbar-right" action="/User/Logout" role="search">
                    <button type="submit" class="btn btn-default">
                        退出
                    </button>
                </form>
                <p class="navbar-text navbar-right" id="UserName">你好：张思安</p>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="plan">
        </div>
        <div></div>
        <div id="weather" style=" cursor:pointer;position: absolute; bottom: 0px; right: 0px; width: 200px; height: 50px; border:2px solid gray; opacity: 1; border-radius: 10px;">
            <div style="float:left"><img height="50" id="weatherpic" src="http://www.duba.com/static/v2/images/weather/a/a1.png" /></div>
            <div id="weatherinstr" style="height: 50px; vertical-align: middle; line-height: 45px; overflow: hidden; ">北京 晴 15～20℃</div>
        </div>
        <div id="openKeyCount" style="cursor: pointer; position: absolute; bottom: 0px; right: 200px; width: 100px; height: 50px; border: 2px solid gray; border-radius: 10px; line-height: 45px; text-align: center;">
            键盘数据
            <br />
        </div>
        <div id="keyCount" style="position: absolute; bottom: 50px; right: 200px; width: 600px; height: 400px; border:2px solid gray; opacity: 1; border-radius: 10px; display: none;">
        </div>

        <div id="smallNote" style="position: fixed; right: -200px; bottom: 30px; width: 200px; height: 300px;   ">
            <div id="smallNoteOpen" style="position: relative; display:inline-block; left: -20px; top: 0px; line-height:30px; width: 20px; height: 30px; background-color: gray; border-radius: 5px 0px 0px 5px;cursor:pointer; ">
                <<
            </div>
            <ul class="list-group" id="smallNoteContent" style="margin-top: -35px; width: 200px; height: 300px; overflow-y: scroll; ">

                <li class="list-group-item ">
                    <button type="submit" class="btn btn-default">添加</button>
                </li>
            </ul>
        </div>


    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加或修改计划
                    </h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">
                        <input type="hidden" id="Id" value="0" />
                        <div class="form-group">
                            <label for="planTag" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="planTag"
                                       placeholder="请输入名字">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="planDetail" class="col-sm-2 control-label">详细说明</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="planDetail" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="planHappenTime" class="col-sm-2 control-label">开始时间</label>
                            @*<div class="col-sm-10">
                                    <input type="text" class="form-control" id="firstname"
                                           placeholder="请输入开始时间">
                                </div>*@
                            <div class='col-sm-9 input-group date' style="padding-left: 15px;" id='datetimepicker111'>
                                <input type='text' id="planHappenTime" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="planUseTime" class="col-sm-2 control-label">使用时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="planUseTime"
                                       placeholder="请输入时间">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="planImportance" class="col-sm-2 control-label">重要性</label>
                            <div class="col-sm-10">
                                <select id="planImportance" class="form-control">
                                    <option value="1" selected>默认选择0</option>
                                    <option value="2">默认选择1</option>
                                    <option value="3">默认选择2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input id="planIsRemind" type="checkbox"> 提醒
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input id="planPerRemind" type="checkbox"> 提前提醒
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="planPerRemindTime" class="col-sm-2 control-label">提前时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="planPerRemindTime"
                                       placeholder="请输分钟">
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">添加</button>
                                </div>
                            </div>*@
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" id="submit" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <hr />
    <footer class="copyright">
        <center>
            版权所有&copy;Bruce
        </center>
    </footer>
</body>
</html>
